<header class="header">
    <div class="max-width-12">
        <div class="header__logo">
            <img src="../../../assets/img/Logo-optima.png" alt="Logo">
        </div>


        <nav>
            <p>Buscar país por: </p>
            <a class="btn" routerLink="/capital" routerLinkActive="active">Capital</a>
            <a class="btn" routerLink="/pais" routerLinkActive="active">Pais</a>
            <a class="btn" routerLink="/continente" routerLinkActive="active">Continente</a>
        </nav>
    </div>
</header>

