main {
    min-height: calc(100vh - 10rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .main__errors {
        background-color: #E63946;
        color: var(--colorBlanco);
        width: 50%;
        padding: 1rem;
    }

    // Contenedor tabla
    .main__table {
        border-radius: 0.5rem;
        overflow: scroll;
        width: 50%;
        max-height: 30rem;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

        // Scroll
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        &::-webkit-scrollbar:vertical {
            width: 7px;
        }
        
        &::-webkit-scrollbar-button:increment,
        &::-webkit-scrollbar-button {
            display: none;
        } 
        
        &::-webkit-scrollbar:horizontal {
            height: 7px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: var(--colorSecundario);
            border-radius: 20px;
            border: 2px solid transparent;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 20px;  
        }

        // Tabla de horarios
        table {
            position: relative;

            background-color: var(--colorBlanco);
            border-collapse: collapse;
            width: 100%;
            z-index: 1;

            // Cabecera
            thead {
                tr {
                    position: sticky;
                    top: 0;
                    right: 0;
                    left: 0;

                    background-color: var(--colorSecundario);
                    color: var(--colorBlanco);
                    z-index: 10;
                }
            }

            // Lista
            tbody {
                tr {
                    &:nth-child(2n) {
                        background-color: var(--colorEntorno);
                    }
                }
            }

            tr {
                display: flex;

                @media (min-width: 1900px) {
                    display: table-row;
                }
            }

            td, th {
                display: flex;
                align-items: center;
                justify-content: center;

                text-align: center;
                padding: 2rem;
                width: 20rem;

                @media (min-width: 1900px) {
                    display: table-cell;
                    width: auto;
                }
            }

            td {
                padding: 1rem 2rem;
            }
        }
    }
}