@import url('https://fonts.googleapis.com/css2?family=Jost&family=Open+Sans:wght@400;700&display=swap');

/*
font-family: 'Jost', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    --fuentePrincipal: 'Jost', sans-serif;
    --fuenteSecundario: 'Open Sans', sans-serif;
    --colorPrincipal: #ff6600;
    --colorSecundario: #00113D;
    --colorNegro: #222;
    --colorBlanco: #fff;
    --colorEntorno: #E5E5E5;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: var(--fuenteSecundario);
    background-color: var(--colorEntorno);
    color: var(--colorNegro);
    font-size: 1.6rem;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:vertical {
        width: 5px;
    }
    
    &::-webkit-scrollbar-button:increment,
    &::-webkit-scrollbar-button {
        display: none;
    } 
    
    &::-webkit-scrollbar:horizontal {
        height: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--colorSecundario);
        border-radius: 20px;
        border: 2px solid transparent;
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 20px;  
    }
}

// -------------- Global --------------
h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4.5rem;
    font-family: var(--fuentePrincipal);
}

h2 {
    font-size: 3.4rem;
    font-family: var(--fuenteSecundario);
}

h3 {
    font-size: 2.8rem;
    font-family: var(--fuenteSecundario);
}

h4 {
    font-size: 2.4rem;
    font-family: var(--fuenteSecundario);
}

h5 {
    font-size: 2rem;
    font-family: var(--fuenteSecundario);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.min-width {
    min-width: 28rem;
}

.max-width-12 {
    max-width: 110rem;
    margin: auto;
}

.none {
    outline: none;
    border: none;
}

.btn {
    outline: none;
    border: none;
    display: block;
    border-radius: 0.5rem;
    padding: 1.8rem;
    cursor: pointer;
}

.mb-50 {
    margin-bottom: 5rem;
}

.input {
    width: 50%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: 2rem;
    color: var(--colorNegro);
    border: 2px solid var(--colorSecundario);
}

// -------------------------- Pages ---------------
main {
    min-height: calc(100vh - 10rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    // Contenedor tabla
    .main__table {
        border-radius: 0.5rem;
        overflow: scroll;
        width: 50%;
        max-height: 30rem;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);

        // Scroll
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        &::-webkit-scrollbar:vertical {
            width: 7px;
        }
        
        &::-webkit-scrollbar-button:increment,
        &::-webkit-scrollbar-button {
            display: none;
        } 
        
        &::-webkit-scrollbar:horizontal {
            height: 7px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: var(--colorSecundario);
            border-radius: 20px;
            border: 2px solid transparent;
        }
        
        &::-webkit-scrollbar-track {
            border-radius: 20px;  
        }

        // Tabla de horarios
        table {
            position: relative;

            background-color: var(--colorBlanco);
            border-collapse: collapse;
            width: 100%;
            z-index: 1;

            // Cabecera
            thead {
                tr {
                    position: sticky;
                    top: 0;
                    right: 0;
                    left: 0;

                    background-color: var(--colorSecundario);
                    color: var(--colorBlanco);
                    z-index: 10;
                }
            }

            // Lista
            tbody {
                tr {
                    &:nth-child(2n) {
                        background-color: var(--colorEntorno);
                    }
                }
            }

            tr {
                display: flex;

                @media (min-width: 1900px) {
                    display: table-row;
                }
            }

            td, th {
                display: flex;
                align-items: center;
                justify-content: center;

                text-align: center;
                padding: 2rem;
                width: 20rem;

                @media (min-width: 1900px) {
                    display: table-cell;
                    width: auto;
                }
            }

            td {
                padding: 1rem 2rem;
            }
        }
    }
}