<main class="main">
    <h1>Busca los países por sus nombres</h1>

    <input class="input none mb-50" type="text" placeholder="Buscar país por sus nombres">

    <table class="table">
        <thead>
            <tr>
                <th class="w100">N°</th>
                <th>País</th>
                <th>Capital</th>
                <th class="w140">Continente</th>
            </tr>
        </thead>
        <tbody>                            
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>Perú</td>
                <td>Lima</td>
                <td>América</td>
            </tr>
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>Perú</td>
                <td>Lima</td>
                <td>América</td>
            </tr>
        </tbody>
    </table>
</main>